# Psychophysiology Processing


## Data collected using Acqknowldge and biopac MP150
## Data processed using Neurokit2 
### Data colelction and processing by Joel Larwood under the supervision of Dr Eric Vanman
### Collection sites
- Zygomaticus Major
- Corrugator Supercilli
- Electrodermal Activity

In [1]:
# Load NeuroKit and other useful packages
import neurokit2 as nk  
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import bioread
import os

In [12]:
plt.rcParams['figure.figsize'] = [15, 5]  # Bigger images

['.DS_Store',
 'Untitled.ipynb',
 'clean_qulatrics.R',
 'clean_psychopy.R',
 'physiology_process.ipynb',
 '.ipynb_checkpoints',
 'join_files.R',
 'emotion_differentiation.R']

In [7]:
os.getcwd()

'/Users/joellarwood/Desktop/git/alexithymia_physiology_2019/data_cleaning'

In [ ]:
os.chdir('')

In [8]:
data = pd.read_excel('/Users/joellarwood/Desktop/git/alexithymia_physiology_2019/data/physiology_data/001.xls')

*** No CODEPAGE record, no encoding_override: will use 'ascii'

In [9]:
data

,Time,Mean,Median,Mean.1,Median.1,Evt_count...,Mean.2,Median.2,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1.90276,0.1089,0.10803,0.21746,0.16778,0,16.1742,16.1215,NaN,NaN,NaN
1,3.1399,0.10911,0.10864,0.14876,0.14807,0,18.2296,18.1528,NaN,NaN,NaN
2,4.65278,0.10785,0.10729,0.16943,0.17041,0,18.1283,18.1202,NaN,NaN,NaN
3,6.05296,0.1089,0.10687,0.17289,0.15692,0,17.5318,17.5206,NaN,NaN,NaN
4,7.4014,0.10931,0.1087,0.15449,0.15441,0,18.0335,18.0392,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
170,26.9005,0.10776,0.10766,0.14391,0.10235,0,15.6155,15.6144,NaN,NaN,NaN
171,28.0967,0.10776,0.10772,0.13992,0.14184,0,15.2085,15.2059,NaN,NaN,NaN
172,29.3717,0.1843,0.13201,0.43935,0.1087,0,16.0235,16.1456,NaN,NaN,NaN
173,23 cycles found,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN